In [1]:
!pip install delta-spark==1.2.0

WARNING: The directory '/home/jovyan/.cache/pip' or its parent directory is not owned or is not writable by the current user. The cache has been disabled. Check the permissions and owner of that directory. If executing pip with sudo, you should use sudo's -H flag.
Requirement already satisfied: delta-spark==1.2.0 in /opt/conda/lib/python3.10/site-packages (1.2.0)
Collecting pyspark<3.3.0,>=3.2.0
  Downloading pyspark-3.2.4.tar.gz (281.5 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 281.5/281.5 MB 119.5 MB/s eta 0:00:0000:0100:01
  Preparing metadata (setup.py) ... done
Requirement already satisfied: importlib-metadata>=1.0.0 in /opt/conda/lib/python3.10/site-packages (from delta-spark==1.2.0) (4.11.4)
Requirement already satisfied: zipp>=0.5 in /opt/conda/lib/python3.10/site-packages (from importlib-metadata>=1.0.0->delta-spark==1.2.0) (3.8.0)
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 199.7/199.7 kB 155.5 MB/s eta 0:00:00
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.4-py2.py3-none-any.whl size=282040922 sha256=3d159b25be69e2b7f4dd381c851d0796ee8ca160d1dfa640f487160ffd4b5420
  Stored in directory: /tmp/pip-ephem-wheel-cache-6nhwyool/wheels/e7/e3/c8/c358dac750f2b6a4b03328d10e05a5c69501664bd6504b6c3e
Successfully built pyspark
Installing collected packages: py4j, pyspark
  Attempting uninstall: py4j
    Found existing installation: py4j 0.10.9.3
    Uninstalling py4j-0.10.9.3:
      Successfully uninstalled py4j-0.10.9.3
Successfully installed py4j-0.10.9.5 pyspark-3.2.4
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

In [2]:
import pyspark
from pyspark import SparkContext
from pyspark.sql import SparkSession
from pyspark.sql import SQLContext

In [3]:
print(pyspark.__version__)

3.2.4

In [4]:

####### read from mongodb ########
url = 'mongodb://mongodb:27017/auto-mpg.auto'
# spark = (SparkSession
#          .builder
#          .master('local[*]')
#          .config('spark.driver.extraClassPath','/usr/local/spark-3.2.1-bin-hadoop3.2/jars/*')
#          .config("spark.mongodb.read.connection.uri",url)
#          .config("spark.mongodb.write.connection.uri", url)
#          .getOrCreate()
#          )
spark = (SparkSession
         .builder
         .master('local[*]')
         .config('spark.jars','/usr/local/spark-3.2.1-bin-hadoop3.2/jars/*')
         .config("spark.mongodb.read.connection.uri",url)
         .config("spark.mongodb.write.connection.uri", url)
         .getOrCreate()
         )
auto_df = spark.read.format("mongodb").load()
auto_df.createOrReplaceTempView("auto")
auto_df= spark.sql("SELECT * FROM auto")
auto_df.show()

+--------------------+------------+--------------------+---------+------------+----------+-----+---------+----+------+------+
|                 _id|acceleration|             carname|cylinders|displacement|horsepower|index|modelyear| mpg|origin|weight|
+--------------------+------------+--------------------+---------+------------+----------+-----+---------+----+------+------+
|6548f171500f4d6b0...|        12.0|chevrolet chevell...|        8|       307.0|     130.0|    0|       70|18.0|     1|3504.0|
|6548f171500f4d6b0...|        11.5|   buick skylark 320|        8|       350.0|     165.0|    1|       70|15.0|     1|3693.0|
|6548f171500f4d6b0...|        11.0|  plymouth satellite|        8|       318.0|     150.0|    2|       70|18.0|     1|3436.0|
|6548f171500f4d6b0...|        12.0|       amc rebel sst|        8|       304.0|     150.0|    3|       70|16.0|     1|3433.0|
|6548f171500f4d6b0...|        10.5|         ford torino|        8|       302.0|     140.0|    4|       70|17.0|     1|3449.0|
|6548f171500f4d6b0...|        10.0|    ford galaxie 500|        8|       429.0|     198.0|    5|       70|15.0|     1|4341.0|
|6548f171500f4d6b0...|         9.0|    chevrolet impala|        8|       454.0|     220.0|    6|       70|14.0|     1|4354.0|
|6548f171500f4d6b0...|         8.5|   plymouth fury iii|        8|       440.0|     215.0|    7|       70|14.0|     1|4312.0|
|6548f171500f4d6b0...|        10.0|    pontiac catalina|        8|       455.0|     225.0|    8|       70|14.0|     1|4425.0|
|6548f171500f4d6b0...|         8.5|  amc ambassador dpl|        8|       390.0|     190.0|    9|       70|15.0|     1|3850.0|
|6548f171500f4d6b0...|        10.0| dodge challenger se|        8|       383.0|     170.0|   10|       70|15.0|     1|3563.0|
|6548f171500f4d6b0...|         8.0|  plymouth 'cuda 340|        8|       340.0|     160.0|   11|       70|14.0|     1|3609.0|
|6548f171500f4d6b0...|         9.5|chevrolet monte c...|        8|       400.0|     150.0|   12|       70|15.0|     1|3761.0|
|6548f171500f4d6b0...|        10.0|buick estate wago...|        8|       455.0|     225.0|   13|       70|14.0|     1|3086.0|
|6548f171500f4d6b0...|        15.0|toyota corona mar...|        4|       113.0|      95.0|   14|       70|24.0|     3|2372.0|
|6548f171500f4d6b0...|        15.5|     plymouth duster|        6|       198.0|      95.0|   15|       70|22.0|     1|2833.0|
|6548f171500f4d6b0...|        15.5|          amc hornet|        6|       199.0|      97.0|   16|       70|18.0|     1|2774.0|
|6548f171500f4d6b0...|        16.0|       ford maverick|        6|       200.0|      85.0|   17|       70|21.0|     1|2587.0|
|6548f171500f4d6b0...|        14.5|        datsun pl510|        4|        97.0|      88.0|   18|       70|27.0|     3|2130.0|
|6548f171500f4d6b0...|        20.5|volkswagen 1131 d...|        4|        97.0|      46.0|   19|       70|26.0|     2|1835.0|
+--------------------+------------+--------------------+---------+------------+----------+-----+---------+----+------+------+
only showing top 20 rows

In [5]:
import pyspark
from delta import *
import pyspark
from delta import *

builder = pyspark.sql.SparkSession.builder.appName("DeltaApp") \
    .config("spark.sql.extensions", "io.delta.sql.DeltaSparkSessionExtension") \
    .config("spark.sql.catalog.spark_catalog", "org.apache.spark.sql.delta.catalog.DeltaCatalog") 

spark = configure_spark_with_delta_pip(builder).master("spark://spark:7077").getOrCreate()

spark._jsc.hadoopConfiguration().set("fs.s3a.endpoint", "http://minio:9000")
spark._jsc.hadoopConfiguration().set("fs.s3a.access.key", "FFD34B2AC56E76E8BB9E7EFD7D283")
spark._jsc.hadoopConfiguration().set("fs.s3a.secret.key", "47A13EFAB1CA1F253FD6F56DEF769")
spark._jsc.hadoopConfiguration().set("fs.s3a.impl","org.apache.hadoop.fs.s3a.S3AFileSystem")
spark._jsc.hadoopConfiguration().set("fs.s3a.path.style.access", "true")
spark._jsc.hadoopConfiguration().set("fs.s3a.aws.credentials.provider","org.apache.hadoop.fs.s3a.SimpleAWSCredentialsProvider")
spark._jsc.hadoopConfiguration().set("spark.jars", "postgresql-42.2.14.jar")

In [6]:
# read from minio
df_manufacturers = spark.read \
        .format("json") \
        .option("inferSchema", "true") \
        .json("s3a://landing/manufacturers//*.json")

df_manufacturers.show()

+-------+--------------------+-------------+
|country|dt_current_timestamp| manufacturer|
+-------+--------------------+-------------+
|     us|       1699268792725|          amc|
|germany|       1699268792725|         audi|
|germany|       1699268792725|          bmw|
|     us|       1699268792725|        buick|
|     us|       1699268792725|     cadillac|
|     us|       1699268792725|        capri|
|     us|       1699268792725|    chevroelt|
|     us|       1699268792725|    chevrolet|
|     us|       1699268792725|        chevy|
|     us|       1699268792725|     chrysler|
|  japan|       1699268792725|       datsun|
|     us|       1699268792725|        dodge|
|  italy|       1699268792725|         fiat|
|     us|       1699268792725|         ford|
|     us|       1699268792725|           hi|
|  japan|       1699268792725|        honda|
|  japan|       1699268792725|        maxda|
|  japan|       1699268792725|        mazda|
|germany|       1699268792725|     mercedes|
|germany|       1699268792725|mercedes-benz|
+-------+--------------------+-------------+
only showing top 20 rows

In [7]:
from pyspark.sql.functions import udf
from pyspark.sql.types import StringType

#Join two DataFrames with an expression
# Add a manufacturers column, to join with the manufacturers list.
first_word_udf = udf(lambda x: x.split()[0], StringType())
df = auto_df.withColumn("manufacturer", first_word_udf(auto_df.carname))

# The actual join.
df_join = df.join(
    df_manufacturers,
    (df.manufacturer == df_manufacturers.manufacturer)
    | (df.mpg == df_manufacturers.manufacturer),
)
#drop column
df_final = df_join.drop("dt_current_timestamp")
colnames = df_final.columns
df_final = df_final.toDF(*map(str, range(len(colnames))))\
    .drop(str(len(colnames)-1))\
    .toDF(*colnames[:-1])
df_final.show()

+--------------------+------------+--------------------+---------+------------+----------+-----+---------+----+------+------+------------+-------+
|                 _id|acceleration|             carname|cylinders|displacement|horsepower|index|modelyear| mpg|origin|weight|manufacturer|country|
+--------------------+------------+--------------------+---------+------------+----------+-----+---------+----+------+------+------------+-------+
|6548f171500f4d6b0...|        12.0|chevrolet chevell...|        8|       307.0|     130.0|    0|       70|18.0|     1|3504.0|   chevrolet|     us|
|6548f171500f4d6b0...|        11.5|   buick skylark 320|        8|       350.0|     165.0|    1|       70|15.0|     1|3693.0|       buick|     us|
|6548f171500f4d6b0...|        11.0|  plymouth satellite|        8|       318.0|     150.0|    2|       70|18.0|     1|3436.0|    plymouth|     us|
|6548f171500f4d6b0...|        12.0|       amc rebel sst|        8|       304.0|     150.0|    3|       70|16.0|     1|3433.0|         amc|     us|
|6548f171500f4d6b0...|        10.5|         ford torino|        8|       302.0|     140.0|    4|       70|17.0|     1|3449.0|        ford|     us|
|6548f171500f4d6b0...|        10.0|    ford galaxie 500|        8|       429.0|     198.0|    5|       70|15.0|     1|4341.0|        ford|     us|
|6548f171500f4d6b0...|         9.0|    chevrolet impala|        8|       454.0|     220.0|    6|       70|14.0|     1|4354.0|   chevrolet|     us|
|6548f171500f4d6b0...|         8.5|   plymouth fury iii|        8|       440.0|     215.0|    7|       70|14.0|     1|4312.0|    plymouth|     us|
|6548f171500f4d6b0...|        10.0|    pontiac catalina|        8|       455.0|     225.0|    8|       70|14.0|     1|4425.0|     pontiac|     us|
|6548f171500f4d6b0...|         8.5|  amc ambassador dpl|        8|       390.0|     190.0|    9|       70|15.0|     1|3850.0|         amc|     us|
|6548f171500f4d6b0...|        10.0| dodge challenger se|        8|       383.0|     170.0|   10|       70|15.0|     1|3563.0|       dodge|     us|
|6548f171500f4d6b0...|         8.0|  plymouth 'cuda 340|        8|       340.0|     160.0|   11|       70|14.0|     1|3609.0|    plymouth|     us|
|6548f171500f4d6b0...|         9.5|chevrolet monte c...|        8|       400.0|     150.0|   12|       70|15.0|     1|3761.0|   chevrolet|     us|
|6548f171500f4d6b0...|        10.0|buick estate wago...|        8|       455.0|     225.0|   13|       70|14.0|     1|3086.0|       buick|     us|
|6548f171500f4d6b0...|        15.0|toyota corona mar...|        4|       113.0|      95.0|   14|       70|24.0|     3|2372.0|      toyota|  japan|
|6548f171500f4d6b0...|        15.5|     plymouth duster|        6|       198.0|      95.0|   15|       70|22.0|     1|2833.0|    plymouth|     us|
|6548f171500f4d6b0...|        15.5|          amc hornet|        6|       199.0|      97.0|   16|       70|18.0|     1|2774.0|         amc|     us|
|6548f171500f4d6b0...|        16.0|       ford maverick|        6|       200.0|      85.0|   17|       70|21.0|     1|2587.0|        ford|     us|
|6548f171500f4d6b0...|        14.5|        datsun pl510|        4|        97.0|      88.0|   18|       70|27.0|     3|2130.0|      datsun|  japan|
|6548f171500f4d6b0...|        20.5|volkswagen 1131 d...|        4|        97.0|      46.0|   19|       70|26.0|     2|1835.0|  volkswagen|germany|
+--------------------+------------+--------------------+---------+------------+----------+-----+---------+----+------+------+------------+-------+
only showing top 20 rows

In [8]:
# jdbcDF = spark.read.format("jdbc"). \
# options(
#         url='jdbc:postgresql://10.0.0.241:5432/postgres', # jdbc:postgresql://<host>:<port>/<database>
#         user='postgres',
#         password='DebPostgres1!',
#         driver='org.postgresql.Driver').\
# load()

In [9]:
df_final.show()

+--------------------+------------+--------------------+---------+------------+----------+-----+---------+----+------+------+------------+-------+
|                 _id|acceleration|             carname|cylinders|displacement|horsepower|index|modelyear| mpg|origin|weight|manufacturer|country|
+--------------------+------------+--------------------+---------+------------+----------+-----+---------+----+------+------+------------+-------+
|6548f171500f4d6b0...|        12.0|chevrolet chevell...|        8|       307.0|     130.0|    0|       70|18.0|     1|3504.0|   chevrolet|     us|
|6548f171500f4d6b0...|        11.5|   buick skylark 320|        8|       350.0|     165.0|    1|       70|15.0|     1|3693.0|       buick|     us|
|6548f171500f4d6b0...|        11.0|  plymouth satellite|        8|       318.0|     150.0|    2|       70|18.0|     1|3436.0|    plymouth|     us|
|6548f171500f4d6b0...|        12.0|       amc rebel sst|        8|       304.0|     150.0|    3|       70|16.0|     1|3433.0|         amc|     us|
|6548f171500f4d6b0...|        10.5|         ford torino|        8|       302.0|     140.0|    4|       70|17.0|     1|3449.0|        ford|     us|
|6548f171500f4d6b0...|        10.0|    ford galaxie 500|        8|       429.0|     198.0|    5|       70|15.0|     1|4341.0|        ford|     us|
|6548f171500f4d6b0...|         9.0|    chevrolet impala|        8|       454.0|     220.0|    6|       70|14.0|     1|4354.0|   chevrolet|     us|
|6548f171500f4d6b0...|         8.5|   plymouth fury iii|        8|       440.0|     215.0|    7|       70|14.0|     1|4312.0|    plymouth|     us|
|6548f171500f4d6b0...|        10.0|    pontiac catalina|        8|       455.0|     225.0|    8|       70|14.0|     1|4425.0|     pontiac|     us|
|6548f171500f4d6b0...|         8.5|  amc ambassador dpl|        8|       390.0|     190.0|    9|       70|15.0|     1|3850.0|         amc|     us|
|6548f171500f4d6b0...|        10.0| dodge challenger se|        8|       383.0|     170.0|   10|       70|15.0|     1|3563.0|       dodge|     us|
|6548f171500f4d6b0...|         8.0|  plymouth 'cuda 340|        8|       340.0|     160.0|   11|       70|14.0|     1|3609.0|    plymouth|     us|
|6548f171500f4d6b0...|         9.5|chevrolet monte c...|        8|       400.0|     150.0|   12|       70|15.0|     1|3761.0|   chevrolet|     us|
|6548f171500f4d6b0...|        10.0|buick estate wago...|        8|       455.0|     225.0|   13|       70|14.0|     1|3086.0|       buick|     us|
|6548f171500f4d6b0...|        15.0|toyota corona mar...|        4|       113.0|      95.0|   14|       70|24.0|     3|2372.0|      toyota|  japan|
|6548f171500f4d6b0...|        15.5|     plymouth duster|        6|       198.0|      95.0|   15|       70|22.0|     1|2833.0|    plymouth|     us|
|6548f171500f4d6b0...|        15.5|          amc hornet|        6|       199.0|      97.0|   16|       70|18.0|     1|2774.0|         amc|     us|
|6548f171500f4d6b0...|        16.0|       ford maverick|        6|       200.0|      85.0|   17|       70|21.0|     1|2587.0|        ford|     us|
|6548f171500f4d6b0...|        14.5|        datsun pl510|        4|        97.0|      88.0|   18|       70|27.0|     3|2130.0|      datsun|  japan|
|6548f171500f4d6b0...|        20.5|volkswagen 1131 d...|        4|        97.0|      46.0|   19|       70|26.0|     2|1835.0|  volkswagen|germany|
+--------------------+------------+--------------------+---------+------------+----------+-----+---------+----+------+------+------------+-------+
only showing top 20 rows

In [11]:
df_final.write.format("jdbc")\
    .option("url", "jdbc:postgresql://postgres:5432/postgres") \
    .option("driver", "org.postgresql.Driver").option("dbtable", "public.auto") \
    .option("user", "postgres").option("password", "Sup3rS3c3t").mode('overwrite').save()